<div class="container mt-5 mb-5 text-center">
  <div class="row">
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="col-10">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field class="col-10">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field class="col-10">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" required></textarea>
      </mat-form-field>

      <div class="text-center fs-5">
        <button
          class="col-sm-4 p-4"
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="!form.valid"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
