<div class="container-fluid my-3">
    <div class="grid grid-cols-12 gap-6 mt-5 ">
      <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <button class="btn btn-primary shadow-md mr-2 lightcolor" routerLink="/dashboard/register/admin">Add New User</button>
      </div>
      <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
          <thead>
            <tr>
              <th class="whitespace-nowrap">No.</th>
              <th class="whitespace-nowrap">User Name</th>
              <th class="whitespace-nowrap">Email</th>
              <th class="text-center whitespace-nowrap">Role</th>
              <th class="text-center whitespace-nowrap">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="intro-x" *ngFor="let item of Users let i = index">
              <td class="w-40">
                {{i + 1}}
              </td>
              <td>
                <a class="font-medium whitespace-nowrap">{{item.fName}}</a>
                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{item.lName}}</div>
              </td>
              <td>
                <a class="text-slate-500 flex items-center mr-3">
                  {{item.email}}
                </a>
              </td>
              <td class="w-40">
                <div class="flex items-center justify-center text-success">
                  <i data-lucide="check-square" class="w-4 h-4 mr-2">{{item.role}}</i>
                </div>
              </td>
              <td class="table-report__action w-56">
                <div class="flexxx justify-center items-center">
                  <a class="flex items-center mr-3 logocolortxt" routerLink="/dashboard/users/{{item.id}}">
                    <i class="fa-solid fa-pen-to-square fa-xl mr-1 logocolortxt" routerLink="/dashboard/users/{{item.id}}"></i> Details
                  </a>
                  <button>
                    <a class="flex items-center text-danger" (click)="del(item.id)">
                      <i class="fa-solid fa-trash-can fa-xl mr-1" (click)="del(item.id)"></i> Delete
                    </a>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>