<div class="Bigfooter">
  <footer class="m-0 bg-dark mt-5 upperfooter">
    <div class="container bg-dark">
      <div class="row bg-dark">
        <div class="col-lg-4 col-sm-12">
          <div class="card bg-dark border-0 m-4">
            <div class="card-body">
              <h5 class="card-title text-bg-dark">About</h5>
              <p class="card-text text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card bg-dark border-0 m-4">
            <div class="card-body">
              <h5 class="card-title text-bg-dark">Blogroll</h5>
              <ul class="card-text text-secondary">
                <li><a href="#" class="text-secondary">NETTUTS+</a></li>
                <li><a href="#" class="text-secondary"> FreelanceSwitch</a></li>
                <li><a href="#" class="text-secondary">In The Woods</a></li>
                <li><a href="#" class="text-secondary">Netsetter</a></li>
                <li><a href="#" class="text-secondary">PSDTUTS+</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card bg-dark border-0 m-4">
            <div class="card-body text-bg-dark">
              <h5 class="card-title text-bg-dark">Popular</h5>
              <ul class="card-text">
                <li>
                  <a href="#" class="text-secondary"
                    >This is the title of a blog post</a
                  >
                </li>
                <li>
                  <a href="#" class="text-secondary"
                    >Lorem ipsum dolor sit amet</a
                  >
                </li>
                <li>
                  <a href="#" class="text-secondary"
                    >Consectetur adipisicing elit, sed do eiusmod</a
                  >
                </li>
                <li>
                  <a href="#" class="text-secondary">Duis aute irure dolor</a>
                </li>
                <li>
                  <a href="#" class="text-secondary"
                    >Lorem ipsum dolor sit amet</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- footer section  -->

  <div class="footer bg-dark mt-0">
    <footer class="py-3 my-4 mt-0 mb-0">
      <p class="text-center text-white">
        © Copyright 2023 - Laptopy. All Rights Reserved
      </p>
      <button class="btn btn-outline-dark btn-lg z-3 rounded-circle position-fixed bottom-0 end-0 mb-3 me-3 logocolor" (click)="scrollToTop()"><i class="fas fa-arrow-up" style="color: #FFF;"></i></button>
      <!-- <button
        class="btn btn-outline-dark btn-lg z-3 rounded-circle position-fixed bottom-0 end-0 mb-3 me-3"
        (click)="openDialogflowChatbot()"
      >
        <i class="fas fa-comments fa-lg" style="color: #164e63"></i>
      </button> -->
    </footer>
  </div>
</div>
