<div class="container mt-sm-5 w-75 text-center">
  <div *ngIf="respomseError" class="text-center text-danger fs-2">
    <p>{{ respomseError }}</p>
  </div>
  <h2 class="mb-sm-4 text-secondry">Who Are You ?</h2>
  <form [formGroup]="form">
    <div class="mb-sm-2 d-flex justify-content-center">
      <input
        type="email"
        class="form-control w-50 p-2"
        id="floatingInput"
        placeholder="Email Address"
        formControlName="email"
      />
    </div>
    <div
      *ngIf="
        form.get('email')?.invalid &&
        (form.get('email')?.touched || form.get('email')?.dirty)
      "
    >
      <div *ngIf="form.get('email')?.hasError('email')" class="text-danger">
        Please Write Valid Email.
      </div>
      <div *ngIf="form.get('email')?.hasError('required')" class="text-danger">
        Email is Required.
      </div>
    </div>
    <div class="mb-sm-5"></div>
    <div class="text-center mb-sm-5">
      <button
        (click)="ConfirmEmail($event)"
        class="btn btn-primary w-25 py-2"
        type="submit"
        [disabled]="!form.valid"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
