<div class="container text-center mt-5 mb-5">
  <div *ngIf="respomseError" class="text-center text-danger fs-2">
    <p>{{ respomseError }}</p>
  </div>
  <div class="row">
    <form [formGroup]="form">
      <div class="col-8">
        <input
          class="form-control p-3 m-3"
          type="password"
          placeholder="Old Password"
          formControlName="oldPassword"
        />
      </div>

      <div class="col-8">
        <input
          class="form-control p-3 m-3"
          type="password"
          placeholder="New Password"
          formControlName="newPassword"
        />
        <div
          *ngIf="
            form.get('newPassword')?.invalid &&
            (form.get('newPassword')?.touched || form.get('newPassword')?.dirty)
          "
        >
          <div
            *ngIf="form.get('newPassword')?.hasError('required')"
            class="text-danger"
          >
            Password Name is required.
          </div>
        </div>
      </div>

      <div class="col-8">
        <input
          class="form-control p-3 m-3"
          type="password"
          placeholder="Confirm New Password"
          formControlName="confirmnewPassword"
        />
        <div
          *ngIf="
            form.get('confirmnewPassword')?.invalid &&
            (form.get('confirmnewPassword')?.touched ||
              form.get('confirmnewPassword')?.dirty)
          "
        >
          <div
            *ngIf="form.get('confirmnewPassword')?.hasError('required')"
            class="text-danger"
          >
            Password Name is required.
          </div>
          <div
            *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch')"
          >
            Passwords do not match
          </div>
        </div>
      </div>

      <div class="col-5">
        <button
          type="submit"
          class="btn btn-primary text-center"
          (click)="change()"
          [disabled]="!form.valid"
        >
          Change
        </button>
      </div>
    </form>
  </div>
</div>
