<div class="container mt-5">
  <div *ngIf="respomseError" class="text-center text-danger fs-2">
    <p>{{ respomseError }}</p>
  </div>
  <form [formGroup]="form">
    <div class="form-floating mb-5">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="New Password"
        formControlName="newPassword"
      />
      <label for="floatingPassword">New Password</label>

      <div
        *ngIf="
          form.get('newPassword')?.invalid &&
          (form.get('newPassword')?.touched || form.get('newPassword')?.dirty)
        "
      >
        <div
          *ngIf="form.get('newPassword')?.hasError('required')"
          class="text-danger"
        >
          New Password is Required.
        </div>
      </div>
    </div>
    <div class="form-floating mb-5">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Confirm Password"
        formControlName="confirmNewPassword"
      />
      <label for="floatingPassword">Confirm New Password</label>
      <div
        *ngIf="
          form.get('confirmNewPassword')?.invalid &&
          (form.get('confirmNewPassword')?.touched ||
            form.get('confirmNewPassword')?.dirty)
        "
      >
        <div
          *ngIf="form.get('confirmNewPassword')?.hasError('required')"
          class="text-danger"
        >
          Confirm New Password is Required.
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        class="btn btn-success btn-lg col-2 mt-3 mb-4 p-2"
        (click)="ResetPassword()"
        [disabled]="!form.valid"
      >
        Reset Now
      </button>
    </div>
  </form>
</div>
