<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link p-3" routerLink="/dashboard/home" routerLinkActive="active">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Home
                      </a>
                      <a class="nav-link p-3" routerLink="/dashboard/users" routerLinkActive="active">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Users
                      </a>
                      <a class="nav-link p-3" routerLink="/dashboard/categories" routerLinkActive="active">
                        <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
                        Categories
                      </a>
                      <a class="nav-link p-3" routerLink="/dashboard/products" routerLinkActive="active">
                        <div class="sb-nav-link-icon"><i class="fas fa-laptop"></i></div>
                        Products
                      </a>
                      <a class="nav-link p-3" routerLink="/dashboard/orders" routerLinkActive="active">
                        <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                        Orders
                      </a>
                      <a class="nav-link p-3" routerLink="/dashboard/reviews" routerLinkActive="active">
                        <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                        Reviews
                      </a>
                      <a class="nav-link p-3" routerLink="/dashboard/contacts" routerLinkActive="active">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-address-book"></i></div>
                        Contact Us
                      </a>
                </div>
            </div>
        </nav>
    </div>
</div>