<div class="container my-5">
  <div class="row">
    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" class="text-center CustomText">Filteration</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="applyFilters(1)" #filterForm="ngForm">
            <article class="filter-group mt-2">
              <header class="card-header">
                <a href="#" class="title FilterElements" data-bs-toggle="collapse"
                  data-bs-target="#collapse_aside_brands">Brands</a>
              </header>
              <div class="collapse show" id="collapse_aside_brands">
                <div class="card-body">
                  <label class="form-check mb-2" *ngFor="let brand of brands">
                    <input class="form-check-input" type="radio" name="brand" [value]="brand.id"
                      [(ngModel)]="selectedBrandId" />
                    <span class="form-check-label"> {{ brand.name }} </span>
                  </label>
                </div>
              </div>
            </article>

            <article class="filter-group mt-2">
              <header class="card-header">
                <a href="#" class="title FilterElements" data-bs-toggle="collapse"
                  data-bs-target="#collapse_aside2">Price</a>
              </header>
              <div class="collapse show" id="collapse_aside2">
                <div class="card-body">
                  <div class="row mb-3">
                    <div class="col-6">
                      <label for="min" class="form-label">Min</label>
                      <input class="form-control" id="min" placeholder="$1000" type="number" name="min"
                        [(ngModel)]="selectedMinPrice" />
                    </div>
                    <div class="col-6">
                      <label for="max" class="form-label">Max</label>
                      <input class="form-control" id="max" placeholder="$100,0000" type="number" name="max"
                        [(ngModel)]="selectedMaxPrice" />
                    </div>
                  </div>
                </div>
              </div>
            </article>

            <article class="filter-group mt-2">
              <header class="card-header">
                <a href="#" class="title FilterElements" data-bs-toggle="collapse"
                  data-bs-target="#collapse_aside_rating">Rating
                </a>
              </header>
              <div class="collapse show" id="collapse_aside_rating">
                <div class="card-body">
                  <label class="form-check mb-2" *ngFor="let ratingOption of ratingOptions">
                    <input class="form-check-input" type="radio" name="ratingOption" [value]="ratingOption"
                      [(ngModel)]="selectedRating" />
                    <span class="form-check-label">{{ ratingOption }} stars</span>
                  </label>
                </div>
              </div>
            </article>

            <!-- <button class="btn btn-light w-100 " type="submit">Apply</button>
            <button
              class="btn btn-light w-100"
              type="button"
              (click)="resetFilters()"
            >
              Reset
            </button> -->
            <button [ngClass]="{
                'custom-button': true,
                'w-100': true,
                rounded: true,
                'mb-2': true,
                'mt-2': true
              }" type="submit" class="applyButton">
              Apply
            </button>
            <button [ngClass]="{
                'custom-button': true,
                'w-100': true,
                rounded: true,
                'mb-2': true
              }" type="button" (click)="resetFilters()" class="resetButton">
              Reset
            </button>
          </form>
        </div>
      </div>
    </div>
    <!--  *********************************************************************************** -->

    <section class="products col-md-9 New-products section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="row">
            <div class="">
              <div class="row">
                <!-- card -->
                <div class="col-md-6 col-lg-4 mt-2 card-wrapper col-sm-8" *ngFor="
                    let p of products
                      | paginate
                        : {
                            id: 'product-pagination',
                            itemsPerPage: countPerPage,
                            currentPage: page,
                            totalItems: totalCount
                          }
                  ">
                  <div class="card mb-3">
                    <div class="card-body p-0 pb-3" style="max-height: 200px">
                      <div *ngIf="p.price != p.priceAfter" class="sale">
                        {{ p.discount }}% OFF
                      </div>
                      <button *ngIf="isLoggedIn" (click)="AddOrRemoveFromwishList(p.id)" type="button"
                        class="btn bg-cart py-0 heartWishList">
                        <i *ngIf="!p.isInWishList" class="fa-regular fa-heart" style="color: black"></i>
                        <i *ngIf="p.isInWishList" class="fa-solid fa-heart" style="color: #ff1414"></i>
                      </button>

                      <div class="card-img-actions">
                        <img src="{{ p.image }}" class="card-img rounded-0" height="200px" alt="" />
                      </div>
                    </div>
                    <div class="card-body text-center bg-light">
                      <div class="mb-2 h-25">
                        <h5 class="font-weight-semibold mb-2 text-white">
                          <a routerLink="/Products/{{ p.id }}" class="text-default mb-2 nameColor" data-abc="true">
                            {{ p.name }}
                          </a>
                        </h5>
                      </div>
                      <div class="h-25">
                        <h4 class="mb-0 font-weight-semibold text-success">
                          ${{ p.priceAfter }}
                        </h4>
                        <h5 *ngIf="p.price != p.priceAfter" class="oldPrice">
                          ${{ p.price }}
                        </h5>
                      </div>
                      <div class="mt-2 d-flex justify-content-center">
                        <span> Rating : </span>

                        <ul class="list-unstyled d-flex justify-content-center">
                          <ng-container *ngIf="p.avgRatingRounded > 0; else emptyStars">
                            <li *ngFor="
                                let star of generateStars(p.avgRatingRounded)
                              ">
                              <i class="fas fa-star fa-sm text-warning" [ngClass]="{
                                  'fa-star': star === 'full',
                                  'fa-star-half-alt': star === 'half',
                                  'fa-star-o': star === 'empty'
                                }"></i>
                            </li>
                          </ng-container>
                          <ng-template #emptyStars>
                            <li *ngFor="let _ of [1, 2, 3, 4, 5]">
                              <i class="fas fa-star fa-sm fa-star-o"></i>
                            </li>
                          </ng-template>
                        </ul>
                      </div>
                      <div class="text-muted mb-1">
                        {{ p.reviewCount }} reviews
                      </div>
                    </div>
                  </div>
                  <!-- <div class="text-muted mb-1">{{ p.reviewCount }} reviews</div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- *********************Message card************************ -->

<div class="centered-message" *ngIf="noProductsMessage">
  <div class="card card-msg">
    <div class="card-body-msg">
      <h5 class="card-title-msg">No Products Found</h5>
      <p class="card-text-msg">{{ noProductsMessage }}</p>
    </div>
  </div>
</div>

<pagination-controls *ngIf="!filterWork" (pageChange)="loadProductsInPagination($event)" id="product-pagination"
  class="text-center"></pagination-controls>
<pagination-controls *ngIf="filterWork" (pageChange)="applyFilters($event)" id="product-pagination"
  class="text-center"></pagination-controls>