<!----------------------SideBar------------------------->

<!-- Sidebar -->

<div
  class="container-fluid bg-color d-flex flex-column justify-content-space-between mt-0  "
>
  <nav id="sidebarMenu" class=" d-lg-block sidebar ">
    <div class="row">
      <div class="list-group list-group-flush ">
        <div
          routerLink="/General"
          class="list-group-item list-group-item-action p-5 ripple text-center zoom"
        >
          <i class="fas fa-chart-area fa-fw me-3 justify-content-center"></i
          ><span>General Information</span>
        </div>

        <div
          routerLink="/Address"
          class="list-group-item list-group-item-action p-5 ripple text-center zoom"
        >
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Addresses</span>
        </div>

        <div
          routerLink="/Orders"
          class="list-group-item list-group-item-action p-5 ripple text-center zoom"
        >
          <i class="fas fa-money-bill fa-fw me-3"></i><span>Orders</span>
        </div>

        <div
          routerLink="/wishList"
          class="list-group-item list-group-item-action p-5 ripple text-center zoom"
        >
          <i class="fas fa-money-bill fa-fw me-3"></i><span>WishList</span>
        </div>
      </div>
    </div>
  </nav>
</div>
