<div class="container m-3">
    <div class="grid grid-cols-12 gap-6" *ngIf="data">
        <div class="col-span-12 2xl:col-span-9">
          <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 mt-8">
              <div class="grid grid-cols-12 gap-6 mt-5">
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                  <div class="report-box zoom-in">
                    <div class="box p-5 white">
                      <div class="flex">
                        <i class="fas fa-sack-dollar fa-fade" style="color: #FFF; font-size: 35px;"></i>
                      </div>
                      <div class="text-3xl font-medium leading-8 mt-6">{{data.totalSell}}</div>
                      <div class="text-base text-slate-500 mt-1">Item Sales</div>
                    </div>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                  <div class="report-box zoom-in">
                    <div class="box p-5 white">
                      <div class="flex">
                        <i class="fa-solid fa-cart-shopping fa-fade" style="color: #FFF; font-size: 35px;"></i>
                      </div>
                      <div class="text-3xl font-medium leading-8 mt-6">{{data.totalOrders}}</div>
                      <div class="text-base text-slate-500 mt-1">Total Orders</div>
                    </div>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                  <div class="report-box zoom-in">
                    <div class="box p-5 white">
                      <div class="flex">
                        <i class="fas fa-laptop fa-fade" style="color: #FFF; font-size: 35px;"></i>
                      </div>
                      <div class="text-3xl font-medium leading-8 mt-6">{{data.totalProducts}}</div>
                      <div class="text-base text-slate-500 mt-1">Total Products</div>
                    </div>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                  <div class="report-box zoom-in">
                    <div class="box p-5 white">
                      <div class="flex">
                        <i class="fa-regular fa-user fa-fade" style="color: #FFF; font-size: 35px;"></i>
                      </div>
                      <div class="text-3xl font-medium leading-8 mt-6">{{data.totalUsers}}</div>
                      <div class="text-base text-slate-500 mt-1">Total Users</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
