<div class="d-flex flex-column justify-content-center mx-3" *ngIf="Name">
    <form>
        <div class="form-group mt-sm-3">
            <label for="category-name" class="fs-5 mb-sm-2">Edit Category Name</label>
            <input [(ngModel)]="Name" type="text" class="form-control p-2" id="category-name" [ngModelOptions]="{standalone: true}" />
        </div>

        <div class="form-group text-center mt-sm-5">
            <button (click)="EditCategory()" type="submit" class="btn btn-success logocolor bt-lg w-50 fs-5 fw-bold">
                Edit Category
            </button>
        </div>
    </form>
</div>