<div class="formbold-mb-5 formbold-file-input mt-5">
    <input
      type="file"
      name="file"
      id="file"
      multiple
      accept="image/*"
      max="5"
      (change)="uploadPhotos($event)"
    />
    <div style="text-align: center">
      <span class="formbold-browse">Browse Images</span>
    </div>
  
    <h2 mat-dialog-title>New Images</h2>
    <div mat-dialog-content>
      <div class="image-grid">
        <!-- New Images -->
        <div class="image-card" *ngFor="let imageUrl of data.storedImages">
          <div class="image-wrapper">
            <img [src]="imageUrl" alt="Property Image" />
            <button
              mat-raised-button
              color="warn"
              (click)="deleteImage(imageUrl)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <h2 mat-dialog-title>Old Images</h2>
    <div mat-dialog-content>
      <div class="image-grid">
        <!-- Old Images -->
        <div class="image-card" *ngFor="let imageUrl of data.oldPropertyImages">
          <div class="image-wrapper">
            <img [src]="imageUrl" alt="Property Image" />
            <button
              mat-raised-button
              color="warn"
              (click)="deleteOldImage(imageUrl)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div mat-dialog-actions style="justify-content: center">
      <button color="primary" mat-button (click)="saveChanges()">Save</button>
      <button color="warn" mat-button (click)="dialogRef.close()">Cancel</button>
    </div>
  </div>
  